@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h4>Workers Compensation Compliance Application</h4>
    <br />
    <p>Our goal is to provide a safe and productive environment and to protect workers from work-related injury, disability, illness, and death in a compassionate and sustainable way that allows for economic activity and innovation.</p>
    <br />
    <img alt="List View" src="@Url.Content("~/Assets/dot.png")" style="width:400px; height:400px;">
</div>
